<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <script type="text/javascript" src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styling.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
{{!-- <div id="container" class="splash-container"> --}}


            <body class="splash-container">
                {{!-- <div class="splash-container"> --}}
                    <div id="container" class="splash-container">
                        <div class="container">
                        {{> flash }}
                        </div>
                        {{!-- <main class="cover-container"> --}}

                            {{{body}}}
                        {{!-- </main>    --}}
                    {{!-- </div> --}}
                </div>
            </body>
{{!-- </div> --}}
</html>