<!--Main Navigation warning-color -->
<div id="make2ndColor" class="makesmaller navbar-light">
                            <div class="badge orange">
                            <button type="button" class="ChangeTextStyleTwo btn btn-yellow" data-toggle="modal" data-target="#exampleModal">
                                Salon Ejer
                            </button>
                        </div>
    <div id="paddingProcent" class="fixBackGround view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/../image/esambg.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        
            <div class="container flex-center text-center">
                
                <div class="row mt-5">
                    
                    <div class="col-md-12 wow fadeIn mb-3">


                        <!-- Button trigger modal -->










                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Esam</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Esam Golgoun blev uddannet frisør i 2001. har været salon ejer på Vesterbro de seneste 16 år. For mere info er i velkommen
                                        til og kontakte mig. Mvh, Esam


                                        <div class="row text-center">

                                            <div class="col-md-4 mb-4"></div>

                                            <!--Grid column-->

                                            <div class="col-md-4 mb-4 center">

                                                <div class="avatar mx-auto my-3" style="max-width: 150px;">
                                                    <img src="/../image/salonowner.png" class="rounded img-fluid z-depth-1-half" alt="Second sample avatar image">
                                                </div>
                                                <h4 class="font-weight-bold dark-grey-text">
                                                    <strong>Esam Golgoun</strong>
                                                </h4>
                                                <h6 class="grey-text">frisør</h6>

                                                <!--Email-->
                                                <a type="button" class="btn-floating btn-sm mx-1  btn-email ">
                                                    <i class="fa fa-envelope"></i>
                                                    <a href="mailto:esam.kasem@salon-bagdad.dk">Kontakt</a>
                                                </a>
                                                {{!--
                                                <!--Facebook-->
                                                <a type="button" class="btn-floating btn-sm mx-1  btn-fb ">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <!--GitHub-->
                                                <a type="button" class="btn-floating btn-sm mx-1  btn-git ">
                                                    <i class="fa fa-github"></i>
                                                </a> --}}

                                            </div>

                                        </div>

                                    </div>
                                    <div class="modal-footer align-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        
    </div>
</div>

<!--Main Navigation-->