<div class="makesmaller parallaxSelf">
    <div class="badge warning-color">
        <div class="warning-color">
            <div class="card border-warning mb-3 elegant-color-dark" style="max-width: 18rem;">
                <div class="card-header"><h3 class="ChangeTextStyle">Gallery</h3></div>
                <div class="card-body text-warning">
                    <h5 class="card-title">Salon Bagdad</h5>
                    <p class="card-text">For more pictures click the button!</p>
            <a class="ChangeTextStyleTwo badge amber darken-2 btn zoomAuto" href="https://www.instagram.com/salonbagdad/">Instagram</a>
                </div>
            </div>
        </div>
    </div>
</div>












<div id="backgroundcolorFix" class="d-flex justify-content-center">







    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">



            <div class="carousel-item active">
                <img id="fixMeDamIt" class="backgroundcolorFix d-block border rounded" src="/../image/saloninside2.jpg" alt="First slide">
            </div>

            <div class="carousel-item">
                <img id="fixMeDamIt" class="backgroundcolorFix d-block border rounded" src="/../image/saloninside1.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img id="fixMeDamIt" class="backgroundcolorFix d-block border rounded" src="/../image/saloninside3.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img id="fixMeDamIt" class="backgroundcolorFix d-block border rounded" src="/../image/saloninside4.jpg" alt="Third slide">
            </div>

        </div>
        <a class="" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon btn warning-color lighten-5" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon btn warning-color lighten-5" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container unique-color-dark pt-0">
    <div id="paddingProcent">
        <div class="col-md-12">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox no-margin">
                <div class="row">
                    <div class="col pagination pull-right">
                        <img alt="picture" src="/../image/haircut.png" class="zoomAuto fixAndMargin img-fluid border border-warning">
                    </div>
                    <div class="col">
                        <img alt="picture" src="/../image/haircut1.png" class="zoomAuto fixAndMargin img-fluid border border-warning" />
                    </div>
                    <div class="col">
                        <img alt="picture" src="/../image/haircut2.png" class="zoomAuto fixAndMargin img-fluid border border-warning" />
                    </div>
                </div>
                <div class="row">
                    <div class="col pagination pull-right">
                        <img alt="picture" src="/../image/haircut.0.png" class="zoomAuto fixAndMargin img-fluid border border-warning">
                    </div>
                    <div class="col">
                        <img alt="picture" src="/../image/haircut1.1.png" class="zoomAuto fixAndMargin img-fluid border border-warning" />
                    </div>
                    <div class="col">
                        <img alt="picture" src="/../image/haircut2.1.png" class="zoomAuto fixAndMargin img-fluid border border-warning" />
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<div class="parallaxSelf"></div>