{{!--
<div class="prices">
    <h2 class="text">Pension</h2>
    <p class="introduction-text">
        135
    </p>
    <h2 class="text">Adults</h2>
    <p class="introduction-text">
        120
    </p>
    <h2 class="text">Children</h2>
    <p class="introduction-text">
        110
    </p>
</div> --}}






<!--Section: Products v.2-->
<section class="text-center pb-3 my-5 unique-color-dark">
  <!--Section heading-->
  <div class="font-weight-bold text-center text-white h1 py-5 unique-color-dark"><p class="zoomAuto">Her finder du prisliste</p></div>

  <!--Grid row-->
  <div class="row unique-color-dark">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-3">
      <!--Card-->
      <div class="card card-cascade wider card-ecommerce">
        <!--Card image-->
        <div class="view overlay">
          <img src="/image/pension.jpg" class="card-img-top" alt="sample photo">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->
        <!--Card content-->
        <div class="card-body text-center no-padding">
          <!--Category & Title-->
          <a href="" class="text-muted">
            <h5>Pensionist</h5>
          </a>
          <h4 class="card-title">
                              <strong>
                                  <p class="ChangeTextStyleTwo">Pris for pensionister</p>
                              </strong>
                          </h4>
          <!--Description-->
          <p class="card-text"> Lør <strong>140kr</strong> <br>fra mandag til fredag <strong>120kr</strong>.</p>
          <!--Card footer-->

        </div>
        <!--Card content-->
      </div>
      <!--Card-->
    </div>
    <!--Grid column -->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-3">
      <!--Card-->
      <div class="card card-cascade wider card-ecommerce">
        <!--Card image-->
        <div class="view overlay">
          <img src="/image/herre2.png" class="card-img-top" alt="sample photo">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->
        <!--Card content-->
        <div class="card-body text-center no-padding">
          <!--Category & Title-->
          <a href="" class="text-muted">
            <h5>Herre</h5>
          </a>
          <h4 class="card-title">
                              <strong>
                                  <p class="ChangeTextStyleTwo">Pris for herr</p>
                              </strong>
                          </h4>
          <!--Description-->
          <p class="card-text">Alle dage <strong>140kr</strong></p>
          <!--Card footer-->

        </div>
        <!--Card content-->
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-3">
      <!--Card-->
      <div class="card card-cascade wider card-ecommerce">
        <!--Card image-->
        <div class="view overlay">
          <img src="/image/child.jpg" class="card-img-top" alt="sample photo">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->
        <!--Card content-->
        <div class="card-body text-center no-padding">
          <!--Category & Title-->
          <a href="" class="text-muted">
            <h5>Børn</h5>
          </a>
          <h4 class="card-title">
                              <strong>
                                  <p class="ChangeTextStyleTwo" href="">Pris for børn</p>
                              </strong>
                          </h4>
          <!--Description-->
          <p class="card-text"><strong>120kr</strong> u 12 år</p>
          <!--Card footer-->

        </div>
        <!--Card content-->
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
<!--Section: Products v.2-->
            
