:root {
  --primary-color: #17b837;
  --dark-color: #283745;
  --light-color: #a4bbc1;
  --danger-color: #dc3545;
  --success-color: #06ff40;
}

/** React-spring */
.sidebar {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 280px;
  background: white;
  padding: 20px;
  font-size: 15px;
}

.sidebar-toggle {
  position: absolute;
  margin: 20px;
  color: #a0a0a0;
  z-index: 100;
  font-size: 1.5em;
  cursor: pointer;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-avatar {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 3em !important;
}

.middle .ant-form-item-control {
  display: flex;
  justify-content: center;
}

.sidebar .ant-form-item {
  margin: 0;
}

.sidebar .ant-form-item-control {
  line-height: 29px;
}
/** React-spring */

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.noUpperCase {
  text-transform: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--dark-color);
  color: #333;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icon_style{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  cursor:pointer; 
}
.msg {
  border: 1px solid;
  padding:10px;
  margin: 20px;
  color: grey;
  text-align: center;
  overflow: hidden; 
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
}
.msg-error {
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}
.msg-alert {
   border-color: #ef6c00;
  background-color: #ff9800;
  color: white;
}
.msg-info{
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.collection {
  overflow: inherit;
}

.cssanimations.csstransforms .msg {
  -webkit-transform: translateY(-50px);
  -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
  -moz-transform:    translateY(-50px);
  -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}
@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-50px); }
  10%, 90% { -moz-transform: translateY(0px); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
