<div class="jumbotron">
    <h2 class="display-4">Metadata</h2>
    <hr class="my-4">
    <p>ID: <span property="id">http://gateway.webofthings.io</span></p>
    <p>Name: <span property="name">My WoT Raspberry PI</span></p>
    <p>Description: <span property="description">A simple WoT-connected Raspberry Pi for the WoT book.</span></p>
    <p>Tags: <span property="tags">raspberry,pi,WoT</span></p>

    <p>Root URL: <a property="url" href="http://gateway.webofthings.io">http://gateway.webofthings.io</a></p>

    <h3>Custom Fields</h3>
    <p>Key: hostname = gateway.webofthings.io</p>
    <p>Key: port = 8080</p>
    <p>Key: secure = false</p>

    <h3>Model</h3>

    <div>
    <a href="/api">View Full Model</a> of this Web Thing. 
    </div>
    <hr>

    <h2>Resources</h2>

    <ul>
        <li><a property="url" href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b/"><span property="name">product</span></a> -
            <span property="title">Product this Web Thing is based on</span></li>
        <li><a property="url" href="/properties"><span
                    property="name">properties</span></a> - <span property="title">List of Properties</span></li>
        <li><a property="url" href="http://model.webofthings.io/"><span
                    property="name">type</span></a> - <span property="title">Instance type of the Pi</span></li>
        <li><a property="url" href="http://webofthings.org/docs/pi/"><span
                    property="name">help</span></a> - <span property="title">Documentation</span></li>
        <li><a property="url" href="/"><span property="name">ui</span></a> - <span
                property="title">User Interface</span></li>
    </ul>
</div>