
<div class='container'>

  {{#each}}
  <h2></h2>
  <a property="url" href="/properties/temperature"><span property="name">temperature</span></a> - <span property="title">Historical temperature values</span>
    {{/each}}
  {{!-- <h2>Humidity</h2>
   <a property="url" href="/properties/humidity"><span property="name">humidity</span></a> - <span property="title">Historical humidity values</span>

  <h2>Moisture</h2>
  <a property="url" href="/properties/moisture"><span property="name">moisture</span></a> - <span property="title">Historical soil moisture values</span> --}}
</div>
  

