{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.1/css/mdb.css">
  <link rel="stylesheet" href="/css/stylecheet.css">
  <title>Salong</title>
</head>

<body>
  <div id="wrapper">
    {{> flash }}

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark orange-color">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">Salong</a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Prices"> <i class="fas fa-chart-bar"></i> Prices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Products"><i class="fas fa-shopping-cart"></i> Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Schedule"><i class="far fa-calendar-alt"></i> Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Register"><i class="far fa-user"></i> Register</a>
          </li>

        </ul>
        <!-- Links -->

        <form class="form-inline">
          <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
    {{!-- <div class="list-group" id="list-tab" role="tablist">
      <a class="linksTags" href="/">
        <i class="fas fa-home"></i> Home</a>
      <a class="linksTags" href="/Prices">
        <i class="fas fa-chart-bar"></i> Prices</a>
      <a class="linksTags" href="/Products">
        <i class="fas fa-shopping-cart"></i> Products</a>
      <a class="linksTags" href="/Schedule">
        <i class="far fa-calendar-alt"></i> Salong</a>
      <a class="linksTags" href="Register">
        <i class="far fa-user"></i> Register</a>
    </div> --}}
    {{{body}}}
  </div>
</body>
{{> footer}}
  <script src="/js/onclick.js"></script>

</html> --}}