<div class="container">
    <div class="alert alert-danger">
        <h1>CONFIRM DELETE?</h1>
        <form class="alert" action="/delete/{{id}}" method="post">
            <input class="alert alert-danger" type="submit" value="yes">
        </form>
        <div class="alert-secondary">
            <a class="nav-link" href='/snippets'>no!</a>
        </div>
    </div>
</div>