<div class="container alert alert-secondary">
    <div class="form-row align-items-center">

        <div class="container">
            <div class="alert alert-danger">
                <h1>EDIT SNIPPET</h1>
                <form action="/edit/{{id}}" method="POST">
                {{!-- {{#each theSnippets}} --}}
                    <textarea class="form-control" name="editTheSnip">{{code}}</textarea>
                {{!-- {{/each}} --}}
                    <button class="btn btn-default">Submit</button>
                </form>
                <div class="alert-secondary">
                    <a class="nav-link" href='/snippets'>Cancel</a>
                </div>
            </div>
        </div>

    </div>
</div>