<!--Footer-->
<footer id="footer" class="page-footer font-small unique-color-dark pt-0">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left makesmaller">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">You can find us here!</h5>
                <a href="https://goo.gl/maps/5rwULnsEisu">Vesterbrogade 107<br>1620 København V
                </a>
                <br>
                Man-Fre 10:00 - 18:00
                <br> Lør 10:00 - 16:00
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Follow us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/Salon-Bagdad-1042755982405235/?rf=169260976443888">Følg os på Facebook</a>
                    </li>
                    <li>
                        <a href="mailto:esam.kasem@salon-bagdad.dk">
                            <i class="fa fa-envelope"></i> Kontakt os</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/salonbagdad/">
                        <i class="fab fa-instagram"></i> Instagram
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i> Tel. 33 25 25 06
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        &#9400; Salon Bagdad
        <a href="https://www.facebook.com/Salon-Bagdad-1042755982405235/?rf=169260976443888">Salon Bagdad</a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->