<div class="splash">
    <h1 class="splash-head">Issue Box</h1>
            <p class="splash-subhead">
                Why wasn't this implemented from the start ehh?
            </p>
            <ul class="list-group">
            {{#each issues}}
            <li class="list-group-item">
                <p>{{id}} and {{avatar_url}} and {{type}}</p>
            </li>
            {{/each}}
            </ul>
</div>