{{!-- <div id="container" class="splash-container"> --}}
    {{!-- <div class="splash-container"> --}}
        <div class="splash">
            <h1 class="splash-head">Moses Snippet Box</h1>


            <p class="splash-subhead">
                Snipping since 1944.
            </p>
            <p>
                <a href="/login" class="pure-button pure-button-primary">Login</a>
            </p>
            <p>
                {{#if user}}
                <a href="/logout" class="pure-button pure-button-primary">Sign out</a>
                {{/if}}
            </p>
            {{!-- <main class="container"> --}}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href='/register'>Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='/snippets'>View Snippets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='/makeSnip'>Snippets</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {{!-- </main> --}}
        </div>
    {{!-- </div> --}}
{{!-- </div> --}}